		.firstRow {
			height: 100%;
			width: 47%;
			float: left;
			border-right: 1px solid #000;
			overflow-x: hidden;
		}
		
		.secondtRow {
			height: 100%;
			width: 17.5%;
			float: left;
			border-right: 1px solid #000;
			overflow-x: hidden;
		}
		
		.thirdRow {
			height: 100%;
			width: 17.5%;
			float: left;
			border-right: 1px solid #000;
			overflow-x: hidden;
		}
		
		.forthRow {
			height: 100%;
			width: 17.2%;
			float: left;
			overflow-x: hidden;
		}
		
                .mainRow .firstRow {
			width: 48.4%;
		}
                .mainRow .secondtRow {
			width: 18%;
		}
                .mainRow .thirdRow {
			width: 18%;
		}
		.mainRow .forthRow {
			width: 15%;
		}