h1 {
    margin-bottom: 100px;
}
form {
    margin-left: 10px;
}
.label {
    width: 60px;
    //background: #F00;
    float: left;
}
.textField1 {
    //float: left;
}
textarea {
    //background: #F0F;
    width: 250px;
    height: 200px;
}
#emailInfo {
    margin-bottom: 40px;
}
#description {
    margin-bottom: 40px;
}
#names {
    margin-bottom: 10px;
}

#clearButton {
    margin-left: 40px;
}
#password {
    margin-bottom: 40px;
}

#subcats {
    margin-bottom: 40px;
}

#subc {
    margin-right: 10px;
    width: 250px;
    height: 200px;
    background: #808080;
    opacity: 0.5;
    color: #fff;
    border: 2px solid #000;
    float: left;
    overflow-y: scroll;
}

.interest {
    margin-bottom: 10px;
}
.interest img{
    margin-right:5px;
    float: left;
}

#buttons {
    margin-top: 150px;
}

select {
    margin-left: 2px;
    width: 153px;
}

#town1 {
    margin-bottom: 15px;
}

#user1 {
    margin-bottom: 15px;
}

#counts {
    margin-bottom: 50px;
}



