		.firstCol {
			height: 100%;
			width: 349px;
			float: left;
			border-right: 1px solid #000;
			overflow-x: hidden;
		}
		
		.secondCol {
			height: 100%;
			width: 194px;
			float: left;
			border-right: 1px solid #000;
			overflow-x: hidden;
		}
		
		.thirdCol {
			height: 100%;
			width: 195px;
			overflow-x: hidden;
		}
				
		.mainRow .thirdCol {
			width: 176px;
		}